<div id="cards">
  <ul>
    <li *ngFor="let card of cards">
      <div id="card">
        <div id="inside">
          <header>
            <div class="left">
              <div id="name">{{ card.name }}</div>
            </div>
            <div class="right">
              <div id="hp">{{ card.hp }} HP</div>
              <div>
                <img
                  ngSrc="assets/images/types/{{ card.types[0] }}.png"
                  alt="type"
                  class="energy icon"
                  width="20"
                  height="20"
                  lazy
                  priority
                />
              </div>
            </div>
          </header>
          <figure id="art">
            <img
              ngSrc="{{ card.picLarge }}"
              width="175"
              height="175"
              alt="picLarge"
              lazy
              priority
            />
            <figCaption>{{ card.no }} Monsters</figCaption>
          </figure>
          <div id="cardImage">
            <img
              ngSrc="assets/images/cards/{{ card.name }}.png"
              alt="cardImage"
              class="cardImg"
              width="170"
              height="230"
              priority
              lazy
            />
          </div>
          <div id="types">
            <table id="typeTable">
              <header></header>
              <body>
                <tr *ngFor="let type of card.types">
                  <img
                    ngSrc="assets/images/types/{{ type }}.png"
                    alt="type"
                    class="energy icon"
                    width="20"
                    height="20"
                    priority
                    lazy
                  />
                </tr>
              </body>
            </table>
          </div>
          <div id="descriptionViolet">
            <div>
              <img
                ngSrc="assets/images/pokeballs/red.png"
                alt="violet"
                class="energy icon"
                width="20"
                height="20"
                lazy
                priority
              />
              <p>{{ card.descriptionViolet }}</p>
            </div>
          </div>
          <div id="descriptionScarlet">
            <div>
              <img
                ngSrc="assets/images/pokeballs/violet.png"
                alt="violet"
                class="energy icon"
                width="20"
                height="20"
                lazy
                priority
              />
              <p>{{ card.descriptionScarlet }}</p>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
